main{ 
    display: flex;
    flex-direction: column
    ;
    text-align: justify;
    margin-left: 500px;




}



.logo {
    display: block;
    margin: 0 auto;


}

.line{
    border-color: aqua;
}

.subtile {
    background-color:orange;
    padding:  20px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    

}

.titolo {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

.introduction{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.iframe {box-shadow: 20px 20px 10px gray;
    
  }
    
  
.focaccia{
    display: block;
    margin: 0 auto;
    box-shadow: 20px 20px 10 px red;

}

.image-copyright{
    text-align: center;
    color: gray;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}



div.link1{
    padding-left: 20 px;

}

.link1{

    border-left-color:red;
    margin-left: 20px;
}

.pretext{
    border-left: solid red;
    color: red
    ;
}


.link-cranberries {font-family: 'Oswald', sans-serif;
    font-weight: 300;
       ;
}



.ingredients{
    font-size: 30px;
margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    
}

#line2
{height: 3 px;
    background-color: aqua;
    border: solid aqua ;
    margin:0;
    padding: 3px;


}
h3{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

dd{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}


.line3{
    border-color: aqua;
}

.method{
    font-size: 50px
    ;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;

}
.text-method{font-family: 'Oswald', sans-serif;
    font-weight: 300;


}
#bold{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;

}



.read{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}











